# .NET Core
**/bin/
**/obj/
bin/
obj/

# Debug/Release
[Bb]in/
[Oo]bj/
**/Debug/
**/Release/

# Rider / JetBrains
.idea/
*.sln.DotSettings.user

# Mac OS
.DS_Store
.DS_Store?
._*

# Settings (щоб не злітали локальні паролі)
WebAPI/appsettings.json
WebAPI/appsettings.Development.json