# .NET Core
**/bin/
**/obj/
[Bb]in/
[Oo]bj/

# Visual studio
.vs/
WebAPI/WebAPI.csproj.user

# Debug/Release
[Bb]in/
[Oo]bj/
**/Debug/
**/Release/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Node.js build artifacts
node_modules/
package-lock.json

# Rider / JetBrains
.idea/
*.sln.DotSettings.user

# Mac OS
.DS_Store
.DS_Store?
._*

# Docker
.dockerignore

# appsettings
/WebAPI/appsettings.Development.Local.json
