# .NET Core
**/bin/
**/obj/
bin/
obj/

# Debug/Release
[Bb]in/
[Oo]bj/
**/Debug/
**/Release/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Node.js build artifacts
node_modules/
package-lock.json

appsettings.json
appsettings.Development.json
appsettings.Local.json

# Rider / JetBrains
.idea/
*.sln.DotSettings.user

# Mac OS
.DS_Store
.DS_Store?
._*

WebAPI/appsettings.json
WebAPI/appsettings.Development.json
# Docker
.dockerignore
/WebAPI/appsettings.json
